nav.navbar.navbar-expand-lg.navbar-light.bg-light.d-flex.justify-content-between
    a.navbar-brand.d-flex.justify-content-center.p-1.ms-3
        img(src="../public/assets/img/logopug.png" width="30" height="30" alt="")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    div.collapse.navbar-collapse(id="navbarNav")
        ul.navbar-nav
            li.nav-item.active
                a.nav-link(onclick="irDashboard()") Dashboard 
                    span.sr-only
            li.nav-item.active
                a.nav-link(onclick="irForm()") Notas 
                    span.sr-only
    div.form-inline.my-2.my-lg-0
        button.btn.btn-outline-danger.me-3(onClick="logout()") Cerrar Sesión